:root {
    --background: #f1f1f1;
    --primary: #4CAF50;
    --border: 1px solid #d3d3d3;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.7;
}

body {
    background: #f9f9f9;
    margin: 20px;
}

.warning {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: -20px;
    z-index: 1;
}

.warning p {
    padding: 2rem;
    background-color: var(--background);
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.item {
    background: var(--background);
    border: var(--border);
}

input[type=submit], button {
    background: var(--primary);
    opacity: 0.8;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

input[type=submit] {
    display: block;
    margin: 0.5rem auto;
}

input[type=submit]:hover, button:hover {
    opacity: 1;
}

#pause_play_button {
    width: 60px;
}

.top_container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'canvas information form slider' 'pause_play information form slider';
    grid-template-columns: 482px 2fr 1fr 2fr;
}

.information_container {
    grid-area: information;
}

.form_container {
    grid-area: form;
}

.form_container table td:nth-child(odd), .slide_container td:first-child, .information_container table td:nth-child(odd) {
    text-align: right;
}

table {
    text-align: center;
    margin: 0 auto;
}

.slide_container {
    grid-area: slider;
}

.pause_play {
    grid-area: pause_play;
    padding: 7px;
    width: 466px;
    text-align: right;
    margin: 0 0 0 auto;
}

#simulation {
    grid-area: canvas;
    text-align: right;
    height: 272px;
}

.bottom_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.bottom_container canvas {
    width: 100%;
    height: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    max-width: 100px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb { /* Place in same as moz-range-thumb???? */
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: var(--primary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: var(--primary);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .top_container {
        grid-template-areas: 'canvas form' 'pause_play form' 'slider information';
        grid-template-columns: 482px 1fr;
    }

    .bottom_container {
        grid-template-columns: 0.93fr;
    }
}

@media (max-width: 800px) {
    .top_container {
        grid-template-areas: 'canvas' 'pause_play' 'slider' 'information' 'form';
        grid-template-columns: 1fr 0.5fr;
    }

    #simulation {
        text-align: center;
    }

    .pause_play {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .warning {
        display: inline;
    }
}
